In [ ]:
import numpy as np 
import pandas as pd 
import os
import io
from google.colab import files


uploaded = files.upload()

Saving covid_data.csv to covid_data.csv

**READING DATA **

In [ ]:
df = pd.read_csv(io.BytesIO(uploaded['covid_data.csv']))

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1082 entries, 0 to 1081
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fever       1082 non-null   float64
 1   BodyPain    1082 non-null   int64
 2   Age         1082 non-null   int64
 3   RunnyNose   1082 non-null   int64
 4   DiffBreath  1082 non-null   int64
 5   Infec_Prob  1082 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 50.8 KB
None

In [ ]:
df['Infec_Prob'].value_counts()

1    561
0    521
Name: Infec_Prob, dtype: int64

In [ ]:
df.describe()

             Fever     BodyPain  ...   DiffBreath   Infec_Prob
count  1082.000000  1082.000000  ...  1082.000000  1082.000000
mean    100.486218     0.490758  ...     0.009242     0.518484
std       1.464433     0.500146  ...     0.806947     0.499889
min      98.003743     0.000000  ...    -1.000000     0.000000
25%      99.178096     0.000000  ...    -1.000000     0.000000
50%     100.456357     0.000000  ...     0.000000     1.000000
75%     101.759225     1.000000  ...     1.000000     1.000000
max     102.993493     1.000000  ...     1.000000     1.000000

[8 rows x 6 columns]

**TRAIN AND TEST **

In [ ]:
def split_fun(data,ratio):
  np.random.seed(42)
  shuffled_index=np.random.permutation(len(data))
  train_size=(int)(len(data)*ratio)
  train_data_idx=shuffled_index[:train_size]
  test_data_idx=shuffled_index[train_size:]
  return data.iloc[train_data_idx],data.iloc[test_data_idx]

In [ ]:
train_data,test_data=split_fun(df,0.6)

In [ ]:
train_data.describe()

            Fever    BodyPain         Age   RunnyNose  DiffBreath  Infec_Prob
count  649.000000  649.000000  649.000000  649.000000  649.000000  649.000000
mean   100.455884    0.503852   51.157165    0.502311   -0.016949    0.530046
std      1.472138    0.500371   28.752669    0.500380    0.798159    0.499481
min     98.019386    0.000000    0.000000    0.000000   -1.000000    0.000000
25%     99.144448    0.000000   26.000000    0.000000   -1.000000    0.000000
50%    100.427505    1.000000   52.000000    1.000000    0.000000    1.000000
75%    101.737355    1.000000   77.000000    1.000000    1.000000    1.000000
max    102.984025    1.000000  100.000000    1.000000    1.000000    1.000000

In [ ]:
test_data.describe()

            Fever    BodyPain         Age   RunnyNose  DiffBreath  Infec_Prob
count  433.000000  433.000000  433.000000  433.000000  433.000000  433.000000
mean   100.531683    0.471132   49.896074    0.487298    0.048499    0.501155
std      1.453318    0.499743   28.671766    0.500417    0.819301    0.500577
min     98.003743    0.000000    0.000000    0.000000   -1.000000    0.000000
25%     99.220253    0.000000   24.000000    0.000000   -1.000000    0.000000
50%    100.504371    0.000000   51.000000    0.000000    0.000000    1.000000
75%    101.771766    1.000000   75.000000    1.000000    1.000000    1.000000
max    102.993493    1.000000  100.000000    1.000000    1.000000    1.000000

In [ ]:
X_train=train_data[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()
X_test=test_data[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()
Y_train=train_data['Infec_Prob'].to_numpy()
Y_test=test_data['Infec_Prob'].to_numpy()

In [ ]:
Y_train=Y_train.reshape(649,)
Y_test=Y_test.reshape(433,)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
inf=clf.predict_proba([[102,1,28,1,1]])[0][1]
print(inf)

0.6089549478840182